<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
    <sites>
      <site patch:before="*[@name='MainSite']"
            hostname="sitecore9*"
            name="SubSite" enableTracking="true" virtualFolder="/SubSite"
            physicalFolder="/" rootPath="/sitecore/content/SubSite"
            startItem="/home" database="web" domain="extranet"
            allowDebug="true" cacheHtml="true" htmlCacheSize="50MB"
            registryCacheSize="0" viewStateCacheSize="0"
            xslCacheSize="25MB" filteredItemsCacheSize="10MB"
            enablePreview="true" enableWebEdit="true"
            enableDebugger="false" disableClientData="false"
            cacheRenderingParameters="true"
            requireLogin="false"
            loginPage="/login"
            renderingParametersCacheSize="10MB" />
    </sites>
    <unicorn>
			<configurations>
        <!--
				<configuration name="Samples.SubSite.Site">
          <targetDataStore physicalRootPath="$(sourceFolder)\$(project)\$(site)\$(feature)" />
					<predicate>
						<include name="Templates" database="master" 
                     path="/sitecore/templates/Bolt/$(project)/$(site)/$(feature)" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
        -->
			</configurations>
		</unicorn>
	</sitecore>
</configuration>