<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
    <unicorn>
			<configurations>
				<configuration name="Samples.MainSite.Header">
          <targetDataStore physicalRootPath="$(sourceFolder)\$(project)\$(site)\$(feature)" />
					<predicate>
						<include name="Layouts" database="master" 
                     path="/sitecore/layout/Renderings/Zeus/$(project)/$(site)/$(feature)" />
            <include name="Templates" database="master"
                     path="/sitecore/templates/Zeus/$(project)/$(site)/$(feature)" />
            <include name="EditFrameButtons" database="core"
                     path="/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Zeus/$(project)/$(site)/$(feature)" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>