<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Sitecore" value="https://sitecore.myget.org/F/sc-packages/api/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="BupaSitecoreDevelopment" value="https://bupaaunz.pkgs.visualstudio.com/DefaultCollection/_packaging/BupaSitecoreDevelopment/nuget/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="BupaSitecoreDevelopment" value="true" />
  </disabledPackageSources>
</configuration>