<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
    <sc.variable name="sourceFolder" value="C:\Work\Sitecore9-Starterkit\serialisation" />
    
    <services>
      <configurator type="Zeus.Samples.Core.Sc.Mvc.GlassServicesConfigurator, Zeus.Samples.Core" />
      <configurator type="Zeus.Samples.Core.Sc.Mvc.MvcServicesConfigurator, Zeus.Samples.Core" />
      <register serviceType="Zeus.Samples.Core.Logging.ILogService, Zeus.Samples.Core" 
                implementationType="Zeus.Samples.Core.Logging.SitecoreLogService, Zeus.Samples.Core" />
    </services>
    
    <pipelines>
      <mvc.getModel>
        <processor patch:before="*[@type='Sitecore.Mvc.Pipelines.Response.GetModel.CreateDefaultRenderingModel, Sitecore.Mvc']"
          type="Zeus.Samples.Core.Sc.Mvc.ViewModelProcessor, Zeus.Samples.Core" />
      </mvc.getModel>
      <unicornExpandConfigurationVariables>
        <!-- Expands variables of the format $(project), $(site) and $(feature) based on configuration naming convention of Project.Site.Feature -->
        <processor type="Zeus.Samples.Core.Sc.Unicorn.ConventionVariablesReplacer, Zeus.Samples.Core" />
      </unicornExpandConfigurationVariables>
    </pipelines>

    <sites>
      <site patch:before="*[@name='website']"
            hostname="sitecore9*"
            name="MainSite" enableTracking="true" virtualFolder="/"
            physicalFolder="/" rootPath="/sitecore/content/MainSite"
            startItem="/home" database="web" domain="extranet"
            allowDebug="true" cacheHtml="true" htmlCacheSize="50MB"
            registryCacheSize="0" viewStateCacheSize="0"
            xslCacheSize="25MB" filteredItemsCacheSize="10MB"
            enablePreview="true" enableWebEdit="true"
            enableDebugger="false" disableClientData="false"
            cacheRenderingParameters="true"
            requireLogin="false"
            loginPage="/login"
            renderingParametersCacheSize="10MB" />
    </sites>
    
    <unicorn>
			<configurations>
				<configuration name="Samples.MainSite.Site">
          <targetDataStore physicalRootPath="$(sourceFolder)\$(project)\$(site)\$(feature)" />
					<predicate>
						<include name="Templates" database="master" 
                     path="/sitecore/templates/Zeus/$(project)/$(site)/$(feature)" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
      <authenticationProvider>
        <SharedSecret>1B82C9A621139A34F98B853E746B79765616EC794C5CFCD75CD2EC51E3</SharedSecret>
        <!-- 
					Writes the reason why failed automated tool authentications failed to the Sitecore logs.
					Will result in writing your shared secret to the logs as part of the signature base,
					so disable it unless you're debugging failed authentications.
				-->
        <WriteAuthFailuresToLog>false</WriteAuthFailuresToLog>
      </authenticationProvider>
		</unicorn>
	</sitecore>
</configuration>
